.header{
  background-color : #f0d2cc;
  
}

.matInput{
border: 1 solid red;
border-radius: 25px;

}

.search_bar{
 padding-top:200px;
/* padding-bottom: 250px; */
min-height: 650px;
}

.mat-form-field {
  margin-bottom:30px; 
}
.example-full-width{
/* background-color: aliceblue; */
/* border-radius : 25px; */
height: 50px;
width: 300px;
color: aliceblue;
}

.example-full-width:focus{
  /* background-color: aliceblue; */
  /* border-radius : 25px; */

  color: aliceblue;
  }

.mat-form-field-appearance-legacy .mat-form-field-underline {
background-color: rgba(168, 27, 27, 0.42);
border-radius:25px; 
}

.login{
  position: relative;
  background-color: transparent;
  border: none;
  transform: none;
  background-color: aliceblue;
  border-radius: 2px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.08);
  color: #122947;
  width: 100px;
  margin-top : 30px;
  margin-right : 10px; 

}